[project]
	description = Hook based tftp server written in Go
[access "refs/*"]
	owner = group user/Esa-Matti Suuronen (epeli)
[access "refs/for/refs/*"]
	read = group user/Esa-Matti Suuronen (epeli)
	push = group user/Esa-Matti Suuronen (epeli)
	label-Code-Review = -2..+2 group user/Esa-Matti Suuronen (epeli)
	label-Verified = -1..+1 group user/Esa-Matti Suuronen (epeli)
	rebase = group user/Esa-Matti Suuronen (epeli)
	removeReviewer = group user/Esa-Matti Suuronen (epeli)
	submit = group user/Esa-Matti Suuronen (epeli)
[access "refs/heads/*"]
	read = group user/Esa-Matti Suuronen (epeli)
	create = group user/Esa-Matti Suuronen (epeli)
	push = +force group user/Esa-Matti Suuronen (epeli)
	pushMerge = group user/Esa-Matti Suuronen (epeli)
[access "refs/tags/*"]
	push = +force group user/Esa-Matti Suuronen (epeli)
	pushTag = group user/Esa-Matti Suuronen (epeli)
	pushSignedTag = group user/Esa-Matti Suuronen (epeli)
