Source: puavo-devscripts
Section: utils
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-devscripts

Package: puavo-devscripts
Architecture: all
Depends: ${misc:Depends}, devscripts, equivs, git-core, wget
Description: Puavo developer tools
 Scripts to make the life of a Opinsys developer easier

Package: puavo-devscripts-lxc
Architecture: all
Depends: ${misc:Depends}, lxc
Description: Puavo lxc developer tools
 Few scripts to manage lxc containers
