Source: hooktftp
Section: utils
Priority: extra
Maintainer: Raphael Medaer <raphael.medaer@straightforward.me>
Build-Depends: debhelper (>= 8.0.0), bzr, golang-go, atftp, python
Standards-Version: 3.9.3
Homepage: https://github.com/rmedaer/hooktftp

Package: hooktftp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hook based tftp server
 Hook based tftp server originally written by epeli inspired by puavo-tftp.
 It's written in Go in the hope of being faster and more stable.
